.footer
    margin-top: 150px
    display: flex
    &__colf
        max-width: 340px
        margin-right: 190px
        &-logo
            margin-bottom: 15px
        &-text
            margin-bottom: 30px
            font-size: 13px
            line-height: 20px
        &-title
            margin-bottom: 10px
            font-weight: 500
            font-size: 13px
            line-height: 20px
        &-img
            margin-bottom: 30px
        &-lighttext
            font-size: 13px
            line-height: 20px
            color: #D3D3D3 !important
    &__col
        &-menu
            display: flex
            flex-direction: column
            &-link
                margin-bottom: 7px

    &-col
        display: flex
        justify-content: space-between
    &-block
        display: flex
        align-items: center
        &-text
            margin-bottom: -1px
            font-size: 13px
            line-height: 20px
            color: #D3D3D3 !important
            margin-right: 10px
        &-img
            margin-right: 10px !important
